{% extends 'base.html.twig' %}

{% block title %}Liste Etudiants{% endblock %}

{% block body %}

<div class="my-9">
    <div class="badge badge-lg shadow-sm">Total etudiants {{ etudiants.getTotalItemCount }}</div>

    <a href="{{ path('app_inscription_new') }}" class="btn gap-2 m-2 absolute right-64 shadow-md">
    Nouv Inscription
    <div class="badge">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
        </svg>
    </div>
    </a>
    <a href="{{ path('app_inscription_new_re') }}" class="btn gap-2 m-2 absolute right-10 shadow-md">
    Reinscrire Etdt
    <div class="badge">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
        </svg>
    </div>
    </a>
</div>

<div class="container overflow-x-auto">
  <table class="table w-full ">
    <!-- head -->
    <thead>
        <tr>
            <th>Etudiant</th>
            <th>Adresse</th>
            <th>Sexe</th>
            <th>Classe</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        {% for etudiant in etudiants %}
            <tr>
                <td>{{ etudiant.nomComplet }}</td>
                <td>{{ etudiant.adresse }}</td>
                <td>{{ etudiant.sexe }}</td>
                <td>classe</td>
                <td>
                    <a href="#" class="btn btn-sm btn-details mr-4">Details</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
<div class="navigation w-full flex flex-row justify-center m-4">
    {{ knp_pagination_render(etudiants) }}
</div>
{% endblock %}
